

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/**===========================================
	REGISTRATION STYLES
  ============================================= */
.register-form{
	margin:20px;
}
.box-dotted{
	border:1px dashed #CCC;
	padding:10px;
}














